* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  box-sizing: border-box;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: #0f172a;
  color: white;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

/* AUTH BUTTONS IN NAV */
.auth-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* LOGIN BUTTON */
.btn-outline {
  padding: 8px 15px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* SIGNUP BUTTON */
.btn-primary {
  padding: 8px 15px;
  background: #2563eb;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn-primary:hover {
  background: #1d4ed8;
}

/* ====================== NavBar Completed ========================== */
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #0f172a;
  color: white;
}

.dashboard {
  text-align: center;
  margin-top: 120px;
}

.dashboard h1 {
  font-size: 40px;
}

button {
  padding: 12px 20px;
  background: #ef4444;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}