* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  box-sizing: border-box;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: #0f172a;
  color: white;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

/* AUTH BUTTONS IN NAV */
.auth-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* LOGIN BUTTON */
.btn-outline {
  padding: 8px 15px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* SIGNUP BUTTON */
.btn-primary {
  padding: 8px 15px;
  background: #2563eb;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn-primary:hover {
  background: #1d4ed8;
}

/* ====================== NavBar Completed ========================== */
body {
  font-family: "Segoe UI", sans-serif;
  background: #f1f5f9;
}

.auth-container {
  width: 320px;
  margin: 120px auto;
  padding: 25px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
}

.auth-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
}